.container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: bisque;
}

.child{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/* .m-3{
    margin: 2% 2% 2% 2%;
}

.child *{
    margin: 4%;
} */