.container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.6);
}

.child{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    align-items: center;
}

.child *{
    margin-left: 5%;
}